<section class="hg-dashboard-news" aria-labelledby="hg-dashboard-news-title">
  <header id="hg-dashboard-news-title" class="hg-dashboard-news__title">{tmpl_var name='latest_news_txt'}</header>
  <ul class="hg-dashboard-news__list">
    <tmpl_loop name="news">
      <li class="hg-dashboard-news__item">
        <a href="{tmpl_var name="link"}" target="_blank" rel="noopener noreferrer" class="hg-news-link">
          <span class="hg-news-date">{tmpl_var name="date"}</span>
          <span class="hg-news-title">{tmpl_var name="title"}</span>
        </a>
      </li>
    </tmpl_loop>
  </ul>
</section>
