            <div class="hg-field-group">
                <label for="php_cli_binary">{tmpl_var name='php_cli_binary_txt'}</label>
                <div><input type="text" name="php_cli_binary"data-heritage-tooltip="true" title="{tmpl_var name='tooltip_php_cli_binary_txt'}" id="php_cli_binary" value="{tmpl_var name='php_cli_binary'}" class="form-control" /></div>
            </div>
            <div class="hg-field-group">
                <label for="php_jk_section">{tmpl_var name='php_jk_section_txt'}</label>
                <div><input type="text" name="php_jk_section" data-heritage-tooltip="true" title="{tmpl_var name='tooltip_php_jk_section_txt'}" id="php_jk_section" value="{tmpl_var name='php_jk_section'}" class="form-control" /></div>
            </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="hg-form-actions">
            <button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_php_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-heritage-load-content="admin/server_php_list.php" data-load-content="admin/server_php_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
