            <div class="hg-field-group">
                <label for="sortprio">{tmpl_var name='sortprio_txt'}</label>
                <div><input type="number" name="sortprio" id="sortprio" data-heritage-tooltip-html="true" data-heritage-tooltip="true" data-heritage-tooltip-placement="top"  title="{tmpl_var name='sortprio_long_txt'}" value="{tmpl_var name='sortprio'}" class="form-control" /></div>
            </div>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="hg-form-actions">
            <button class="formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_php_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-heritage-load-content="admin/server_php_list.php" data-load-content="admin/server_php_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
